.Games {
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(/public/images/it.png);
    border-radius: 5px;
} 

.card {
    margin: 3%;
    transition: cubic-bezier(0.075,0.82,0.165,1);
    background-color: rgb(253, 0, 59);
    width: 24%;
    border-radius: 90px;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    float: left;
    
    
}

.Game-image {
    width: 100%;
    height: 240px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding: 16px 16pcx 16px 16px;
    background-color: rgb(77, 18, 186);
}

.Game-name {
    
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(235, 245, 245);
    background-color: rgb(36, 137, 252);
    text-transform: capitalize;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    padding-left: 90px;
}

.Game-price {
    margin: 10px 0px;
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 80px;
    background-color: rgb(78, 7, 149);
    font-family: Georgia, 'Times New Roman', Times, serif
}

.Game-add-button {
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(22, 105, 207);
    width: 70%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 500;
    color: rgb(252, 248, 248);

}


.Game-add-button:hover {
    background-color: rgb(94, 25, 232);
}


.Game-add-button:active {
    transform: translateY(3px);
}
.btnStyle{
    border-radius: 5px;
    background-color: rgb(186, 9, 47);
    width: 38%;
    height: 30px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 500;
    color: rgb(252, 248, 248);
}
.btnStyle:hover{
    color: red;
} 

